.resources,
.calander-content {
	border:solid 2px #000000;
	padding: 0px 0px 0px 0px;
}

.resources {
	width: 19%;
	max-width: 19%;
	float:left;
	border:solid 2px #000000;
	padding: 0px 4px 0px 4px;
	height: 100%;
}

.current-resource {
	color: black;
}

.not-current-resource {
	color: gray;
}

.calander-content {
	width: 78%;
	max-width: 78%;
	float:right;
	padding: 0px 4px 0px 4px;
	height: 100%;
}

.calander {
	float:left;
	width:65%;
}

.comment-text {
	font-size:12px;
}

.bookings {
	float:right;
	width:34%;
}

p {
	margin-top:0px;
	margin-bottom:0px;
}

.tight {
	line-height:80%;
	width: 70%;
	max-width: 70%;
	float:left;
}

.fat-bottom {
	margin-bottom:12px;
}

em {
	color: gray;
}

h1.big-date{
	font-size:40px;
	margin-bottom:0px;
}

.singular .entry-header,
.singular .entry-content,
.singular footer.entry-meta,
.singular #comments-title {
	margin: 0 auto;
	width: 100%;
}

/* Calander */
.today {
	background-color:#1982D1;
	color:white;
	position:absolute;
	left:0px;
	top:0px;
	font-size:11px;
	width:100%;
}

td .cell-link {
	height:100%;
	width:100%;
	padding: 12px 0px 12px 0px;
}
table { 
    border:1px solid #CCC; 
    border-collapse: collapse; 
  } 
  caption { 
    font-weight:bold; 
    font-size:120%; 
    margin-bottom:8px; 
  } 
   
  .calendar-table td, .calendar-table th { 
    text-align:center; 
    vertical-align:middle; 
    width:36px; 
    height:34px; 
    border:1px solid #CCC; 
    padding:0; 
    position:relative;
    
  } 
   
  th { 
    height:inherit; 
  } 
   
  .empty { 
    background-color:#EEE; 
  }